.story-viewer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-viewer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  height: 90%;
}

.story-viewer-content .image-story,
.story-viewer-content .video-story {
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  object-fit: cover;
}

.audio-story {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.nav-btn.left {
  left: -50px;
}

.nav-btn.right {
  right: -50px;
}

.close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding-top: 20px;
}

.story-user {
  display: flex;
  align-items: center;
  position: absolute;
  top: -40px;
  left: 0;
  /* background: transparent; */
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding-top: 20px;
  gap: 10px;
}

.user-story-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
