.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-box {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #151b2d;
    padding: 25px;
    width: 420px;
    border-radius: 12px;
    /* border: 2px solid gold; */
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    overflow-y: scroll;
  }
  
  .modal-box h2 {
    text-align: center;
    margin-bottom: 15px;
    /* color: navy; */
  }
  
  .modal-box label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    /* color: navy; */
  }
  
  .modal-box input,
  .modal-box textarea,
  .modal-box select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .modal-box textarea {
    height: 70px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 20px;
  }
  
  .cancel-btn {
    /* background: #ccc; */
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  
  .save-btn {
    background: gold;
    /* color: navy; */
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .update-profile-btn {
    background: gold;
    /* color: navy; */
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
  }
  