.app{
    margin: 0;
    background: linear-gradient(135deg, gold, royalblue);
    /* max-width: 100vw;
    overflow: hidden; */
}

a{
    text-decoration: none;
    color: white;
}

.icon{
    font-size: 20px;
    cursor: pointer;
    /* color: var(--blue); */
}