/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  --gold: #FFD700;
  --blue: #1E3A8A;
  --modal-box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  --modal-bg: rgba(255, 255, 255, 0.05);
  --modal-blur: blur(8px);
  --modal-border: 1px solid rgba(255, 255, 255, 0.1);
}

body {
  margin: 0;
  font-family: sans-serif;
  background:  #0d1b2a;
  /* background: linear-gradient(135deg, var(--blue) 0%, #0d1b2a 40%, #1a1a1a 70%, var(--gold) 100%); */
  background-attachment: fixed;
  color: white;
  max-width: 100vw;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  box-shadow: var(--modal-box-shadow);
  background: var(--modal-bg);
  backdrop-filter: var(--modal-blur);
  border: var(--modal-border);
}
.card {
  box-shadow: var(--modal-box-shadow);
  background: var(--modal-bg);
  backdrop-filter: var(--modal-blur);
  border: var(--modal-border);
}

.danger-btn{
  background-color: rgb(228, 85, 85);
  }
  
  .danger-btn:hover{
      background-color: rgb(135, 98, 98);
  }

  .cancel-btn{
    background-color: #4f5357;
  }