.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  color: var(--gold);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--gold);
}

.navbar-balance {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #162f6e;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
}
/* 
.avatar-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
} */

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--gold);
}

.dropdown-menu {
  position: absolute;
  top: 55px;
  right: 0;
  background-color: #1e3a8a;
  border: 1px solid var(--gold);
  border-radius: 8px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  width: 160px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  z-index: 2000;
}

.dropdown-item {
  color: var(--gold);
  text-decoration: none;
  padding: 10px 15px;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background-color: rgba(255, 215, 0, 0.1);
}

.dropdown-menu button {
  margin: 10px 15px 0;
  background-color: #2563eb;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #1e40af;
}
