:root {
    --gold: #FFD700;
    --blue: #1E3A8A;
  }
  
  .create-post-page {
    /* max-width: 900px; */
    max-height: 100vh;
    padding: 10px;
    width: 100%;
  }
  
  .create-post-page h1 {
    text-align: center;
    /* color: var(--blue); */
  }
  
  .create-post-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  
  /* Left side (editor) */
  .editor-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .post-title{
    border: none;
    background-color: inherit;
    border-bottom: 1px solid var(--blue);
  }
  
  .upload-row {
    display: flex;
    gap: 10px;
  }
  
  .file-upload {
    width: 40px;
    height: 40px;
    background-color: var(--blue);
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
  }
  
  .file-upload input {
    display: none;
  }
  
  .tooltip .tooltip-text {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  .ed-pr-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
  }
  
  textarea {
    resize: none;
    height: 70%;
    padding: 10px;
    border: 2px solid var(--blue);
    border-radius: 8px;
    font-size: 1rem;
    background-color: inherit;
    color: inherit;
  }
  
  button {
    background-color: var(--gold);
    color: var(--blue);
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ffea80;
  }
  
  /* Right side (preview) */
  .preview-section {
    flex: 1;
    border: 2px dashed var(--gold);
    border-radius: 8px;
    padding: 10px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
  }
  
  .preview-placeholder {
    color: gray;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .preview-section img,
  .preview-section video {
    width: 300px;
    border-radius: 8px;
    border: 2px solid var(--gold);
  }
  
  .preview-section audio {
    width: 100%;
  }
  
  .preview-text {
    font-size: 1rem;
    /* color: #222; */
    /* background-color: #f8f9fa; */
    padding: 8px 12px;
    border-radius: 8px;
    width: 100%;
    /* border: 1px solid #ddd; */
  }
  